@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.span__font {
  font-family: 'Lobster', cursive;
}
#details,
#phones,
#spinner {
  display: none;
}

ul > li > a {
  color: black;
  font-size: 1.1rem;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  /* table font size */
  td {
    font-size: 14px;
  }
  .fs-5 {
    font-size: 18px !important;
  }
}
